<!DOCTYPE html>

<html lang="en">


<head>


<meta charset="UTF-8">


<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>

Admin Dashboard

</title>



<link rel="stylesheet"

href="{{url_for('static',filename='style.css')}}">



</head>



<body>



<div class="admin-layout">



<div class="sidebar">


<h2>

ADMIN

</h2>



<a href="/">

Portfolio

</a>



<a href="/logout">

Logout

</a>



</div>








<div class="admin-content">



<h1>

Dashboard Admin

</h1>









<div class="panel">


<h2>

Update Profile

</h2>





<form action="/profile/update"

method="POST">



<input

type="text"

name="nama_lengkap"

value="{{data.profile.nama_lengkap}}"

placeholder="Nama Lengkap"

>



<input

type="text"

name="posisi"

value="{{data.profile.posisi}}"

placeholder="Posisi"

>





<textarea

name="deskripsi">

{{data.profile.deskripsi}}

</textarea>




<button>

Update Profile

</button>



</form>


</div>











<div class="panel">


<h2>

Skill

</h2>





<form action="/skill/add"

method="POST"

enctype="multipart/form-data">



<input

type="text"

name="nama_skill"

placeholder="Nama Skill"

required

>




<label>

Foto Skill

</label>



<input

type="file"

name="image"

accept="image/*"

required

>




<button>

Tambah Skill

</button>



</form>








<div class="admin-grid">



{% for skill in data.skills %}



<div class="skill-card">



{% if skill.image_url %}

<img src="{{skill.image_url}}">

{% endif %}




<h3>

{{skill.nama_skill}}

</h3>




<a 

href="/skill/delete/{{skill.id}}"

onclick="return confirmDelete()"

class="delete">

Hapus

</a>



</div>




{% endfor %}



</div>


</div>









<div class="panel">


<h2>

Experience

</h2>





<form action="/experience/add"

method="POST"

enctype="multipart/form-data">



<input

type="text"

name="pengalaman"

placeholder="Pengalaman"

required

>




<textarea

name="keterangan"

placeholder="Keterangan"

required>

</textarea>





<label>

Foto Experience

</label>




<input

type="file"

name="image"

accept="image/*"

required

>





<button>

Tambah Experience

</button>



</form>





<hr>





<div class="experience-admin-grid">



{% for exp in data.experiences %}



<div class="experience-admin-card">



{% if exp.image_url %}

<img src="{{exp.image_url}}">

{% endif %}





<div class="experience-content">



<h3>

{{exp.pengalaman}}

</h3>




<p>

{{exp.keterangan}}

</p>




<a 

href="/experience/delete/{{exp.id}}"

onclick="return confirmDelete()"

class="delete">

Hapus

</a>



</div>


</div>




{% endfor %}



</div>


</div>









<div class="panel">


<h2>

Project

</h2>





<form action="/project/add"

method="POST">



<input

type="text"

name="judul"

placeholder="Judul Project"

required

>




<textarea

name="keterangan"

placeholder="Keterangan"

required>

</textarea>





<button>

Tambah Project

</button>



</form>






<hr>





<div class="experience-admin-grid">



{% for project in data.projects %}



<div class="experience-admin-card">



<div class="experience-content">



<h3>

{{project.judul}}

</h3>




<p>

{{project.keterangan}}

</p>





<a

href="/project/delete/{{project.id}}"

onclick="return confirmDelete()"

class="delete">

Hapus

</a>



</div>


</div>



{% endfor %}



</div>


</div>







</div>


</div>




<script src="{{url_for('static',filename='script.js')}}"></script>



</body>


</html>